<component name="ArtifactManager">
  <artifact type="war" name="SpringDemo:war">
    <output-path>$PROJECT_DIR$/../SpringDemo/out/artifacts/SpringDemo_war</output-path>
    <root id="archive" name="SpringDemo_war.war">
      <element id="artifact" artifact-name="SpringDemo:war exploded" />
    </root>
  </artifact>
</component>